ul {
	list-style-type: none;
	background-color: ##F7F8E0;
	margin: 20px;
	padding: 50px;
	overflow: hidden;
	background-color: #000000;
}

li {
	display: block;
	float: left;
	padding: 20px;
	background-color: #000000;
	text-align: center;
}

li a:hover:not(.active){
	background-color: aqua;

}

a {
	color: peru;
	text-decoration: none;
}

a:hover {
	color: red;
}

a:visited {
	color: yellow;
}

nav {
	width: 100%;
	display: block;
}

.botones {
	background-color: black;
}

.botones:hover {
	background-color: yellow;
}